altgraph==0.17
autopep8==1.5.2
beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
hexonet.apiconnector==3.5.1
idna==2.9
numpy==1.18.4
Pillow==7.1.2
pkg-resources==0.0.0
pycodestyle==2.5.0
PyQt5==5.14.2
PyQt5-sip==12.7.2
requests==2.23.0
six==1.14.0
soupsieve==2.0
tabulate==0.8.7
urllib3==1.25.9
